/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/*Reset da página*/
body {
    background-color: #23272A;
}
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color:#FFFFFF;
}
ul {
    list-style-type: none;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
/*Menu*/
.menu {
    position: absolute;
    width:100%;
    height:100%;
    top:0%;
    left:0%;
    transform: translateX(-100%);
    transition: transform 400ms ease;
    color:#6C63FF;
    background-color: #6C63FF ;
}
.menuOpen {
    transform: translateX(0%);
}
.buttonMenu {
    display:block;
    width: 100%;
    background-position: 10px center;
    background-repeat: no-repeat;
    padding:12px 12px;
    text-indent: 9999px;
}
.buttonMenuOpen {
    background-image: url(assets/menu.png);
}
.buttonMenuClose {
    background-image: url(assets/cancel.png);
    cursor: pointer;
}
.MenuItem {
    padding:12px 12px;
    font-size: 1.2em;
    text-align: center;
    border-bottom: 1px solid #23272A;
}
/*Home*/

@media screen and (min-width:480px) and (max-width:480px) {
    
}
@media screen and (min-width:720px) and (max-width:720px) {
    
}
@media screen and (min-width:1024px) and (max-width:1024px) {

}